p{
  color: blue;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.projectName{
  text-align: center;
}
.projectDescription{
  text-align: left;
}

/*THIS IS REALLY BADLY DONE: COULDN'T FIGURE OUT HOW TO GET EACH BOX ITS OWN IMAGE AND MAKE IT SHAPE TO THE BOX SIZE WITHOUT REDUDANCY. THE BACKGROUND THING DIDN'T INHERENT*/

.proj1{
  background-image: url("../img/wiki.png");
  background-size: cover;
}

.proj2{
  background-image: url("../img/vacation.png");
  background-size: cover;
}

.proj3{
  background-image: url("../img/shelter.png");
  background-size: cover;
}

.proj4{
  background-image: url("../img/band.png");
  background-size: cover;
}

.columnmain{
  background-color: #AFC3A7;
  height: 100vh;
}

.emersonPhoto{
  width: 33%;
  float: left;
  margin: 20px;
}

/*about*/
.factsbox{
  padding: 40px;
  margin-right: 40px;
  margin-left: 60px;
  margin-bottom: 60px;
}

.projectBlock {
background-size: cover;
  float: left;
  background-position: center;
  background-color: lightgrey;
  filter: grayscale(40%);

}

.proj1:hover {
  filter: grayscale(0%);
}

.proj2:hover {
filter: grayscale(0%);
}

.proj3:hover {
filter: grayscale(0%);
}

.proj4:hover {
filter: grayscale(0%);
}

.columnnav{
    background-color: #2B496B;
}

.introPara{
  width: 50%;
  text-align: left;
  align-self: center;
  color: black;
}

@media screen and (min-width:  600px) {
  .columnnav{
    width: 150px;
    height: 100%;
    position: fixed;
    padding-top: 50px;
  }

  .navItem{
    padding: 2px;
  }

  .columnmain{
    margin-left: 150px;

  }
  .projectBlock{
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 20px;

  }
  .projectName{
    font-size: 22px;
    padding-bottom: 10px;
  }

  /*ABOUT */
  .interestsTitle{

    height: 80px;
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    border-bottom: 2px solid grey;
    margin: 50px;
  }

  .emersonPhoto{
    width: 33%;
    float: left;
    margin: 20px;
  }
}

@media screen and (max-width: 600px) {
  .columnnav{
    height: 30px;

  }


  #mynavbar{
    text-align: center;
  }

  #mynavbar li{
    display: inline-block;
  }

  .projectBlock{
    width: 150px;
    height: 100px;
    padding: 10px;
    margin: 20px;
    background-size: 150px 100px;


  }
  .projectName{
    font-size: 12;
    text-align: center;

  }
  .projectDescription{
    visibility: hidden;
  }

  /*ABOUT */
  .interestsTitle{
    height: 80px;
    text-align: center;
    font-size: 20;
  }

  .emersonPhoto{
    width: 200px;
    float: left;
    margin: 20px;
  }

  .hills{

  }
}
