p{
  color: blue;
}

.projectName{
  text-align: center;
}
.projectDescription{
  text-align: center;
}

body{


}

#proj1{

}

.projectBlock{

  background-image: url("../img/bluerect.png");
}

@media screen and (min-width:  600px) {
  .columnnav{
    width: 150px;
    height: 100%;
    background-color: blue;
    position: fixed;
  }

  .columnmain{
    margin-left: 150px;
    background-color: green;
  }
  .projectBlock{
    width: 300px;
    height: 200px;
    float: left;
    padding: 10px;
    margin: 20px;
    background-size: 300px 200px;

  }
  .projectName{
    font-size: 40;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .columnnav{
    height: 50px;
    background-color: blue;
  }

  .columnmain{
    background-color: green;
  }
  #navbar{
    text-align: center;
  }

  #navbar li{
    display: inline-block;
  }

  .projectBlock{
    width: 150px;
    height: 100px;
    float: left;
    padding: 10px;
    margin: 20px;
    background-size: 150px 100px;

  }
  .projectName{
    font-size: 12;
  }
  .projectDescription{
    visibility: hidden;
  }
}
