

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.projectName{
  text-align: center;
}
.projectDescription{
  text-align: left;
}

/*THIS IS REALLY BADLY DONE: COULDN'T FIGURE OUT HOW TO GET EACH BOX ITS OWN IMAGE AND MAKE IT SHAPE TO THE BOX SIZE WITHOUT REDUDANCY. THE BACKGROUND THING DIDN'T INHERENT*/

.proj1{
  background-image: url("../img/wiki.png");
  background-size: cover;
}

.proj2{
  background-image: url("../img/vacation.png");
  background-size: cover;
}

.proj3{
  background-image: url("../img/shelter.png");
  background-size: cover;
}

.proj4{
  background-image: url("../img/band.png");
  background-size: cover;
}

.columnmain{
  /* background-color: #AFC3A7; */
  height: 100vh;
}

.emersonPhoto{
  width: 33%;
  float: left;
  margin: 20px;
}

/*about*/
.factsbox{
  padding: 40px;
  margin-right: 40px;
  margin-left: 60px;
  margin-bottom: 60px;
}

.projects{
  display: block;
  margin-left: 5%;
  margin-right: auto;

}

.projectBlock {
background-size: cover;
  float: left;
  background-position: center;
  background-color: lightgrey;
  filter: grayscale(40%);

}

.proj1:hover {
  filter: grayscale(0%);
}

.proj2:hover {
filter: grayscale(0%);
}

.proj3:hover {
filter: grayscale(0%);
}

.proj4:hover {
filter: grayscale(0%);
}

.columnnav{
    /* background-color: #2B496B; */

}

.introPara{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  text-align: left;
  color: darkblue;
}

@media screen and (min-width:  600px) {
  .columnnav{
    width: 150px;
    height: 100%;
    position: fixed;
    margin-top: 160px;
    border-right: 2px solid lightblue;
  }

  .navItem{
    padding: 2px;
  }

  .columnmain{
    margin-left: 150px;

  }
  .projectBlock{
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 20px;

  }
  .projectName{
    font-size: 22px;
    padding-bottom: 10px;
  }

  /*ABOUT */
  .interestsTitle{

    height: 80px;
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    border-bottom: 2px solid grey;
    margin: 50px;
  }

  .emersonPhoto{
    width: 33%;
    float: left;
    margin: 20px;
  }
}

@media screen and (max-width: 600px) {

  .columnnav{
    height: 30px;
    margin-top: 15px;
    word-spacing: 15px;
  }

  #mynavbar{
    text-align: center;
  }

  #mynavbar li{
    display: inline-block;
  }

  .projectBlock{
    width: 150px;
    height: 100px;
    padding: 10px;
    margin: 20px;
    background-size: 150px 100px;

  }
  .projectName{
    font-size: 12;
    text-align: center;
  }

  .projectDescription{
    visibility: hidden;
  }

  /*ABOUT */
  .interestsTitle{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-family: cursive;
    width: 50%;
    border-bottom: solid black 1px;
  }

  .emersonPhoto{
    width: 200px;
    float: left;
    margin: 20px;
  }
}
